* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00ffd5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #00ffd5;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 100px 20px;
  text-align: center;
}

.home {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark {
  background: #f2f2f2;
}

/* BUTTON */
.btn {
  margin-top: 25px;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  background: orange;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.card {
  width: 230px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  font-weight: 600;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 220px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}
